@model WebApplication1.Models.Personaje

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Personaje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerFechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerFechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerLugarNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerLugarNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerLib)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerLib.LibId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerRol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerRol.RolId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
