@model IEnumerable<WebApplication1.Models.Libro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LibNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibAutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibGenero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibTipoProyecto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LibNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LibAutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LibGenero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LibTipoProyecto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LibStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LibId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LibId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LibId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
